{
  "presets": [
    ["@babel/env", {
      "targets": {
        "node": "7"
        // "ie": "11"
      },
      "modules": false
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["babel-plugin-dynamic-import-node", { "noInterop": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
